/* src/input.css */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@theme {
  --breakpoint-sm: 480px;

  --font-nunito: "Nunito", sans-serif;
}